# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.pnp/
.pnp.js
.yarn/

# testing
reports/
coverage/

# typescript
*.tsbuildinfo
next-env.d.ts

# next.js
.next/
out/

# vercel
.vercel

# production
build/

# local env files
.env*.local

# logs
*.log*

# temporary
tmp/
*.tmp

# misc
.DS_Store
*.pem
